/vendor
/node_modules
/.env
/storage/logs/*.log
/bootstrap/cache/*.php
/storage/framework/sessions/*
/storage/framework/views/*
!storage/framework/views/.gitkeep
!storage/framework/sessions/.gitkeep
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
